#config-overlay {
  text-align: center;
}

#config-overlay h2 {
  margin: 0.5rem 0;
}

.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control input {
  font-family: inherit;
  font-size: 20px;
  border: 1px solid var(--grey-dk);
  border-radius: 3px;
  width: 15rem;
  padding: 0.35rem;
  margin-bottom: 1rem;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

#game-configuration {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  text-align: center;
}

#game-configuration ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#game-configuration li {
  margin: 1rem;
  padding: 1rem;
  width: 50%;
  background-color: #111;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

#game-configuration h2 {
  font-size: 1.2rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: var(--light)
}

#game-configuration h3 {
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 0.5rem 0;
  color: var(--orange);
}

