@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Mr+Bedfort&family=The+Girl+Next+Door&display=swap');

:root {
  --dark: #111;
  --light: #faebd7;
  --grey-dk: #333;
  --grey-lg: #faf4f4;
  --orange: #ff4500;
}

body {
  margin: 0;
  font-family: 'The Girl Next Door', cursive;
  color: var(--grey-dk);
  background-color: var(--light);
}

.main-header {
  background-color: var(--dark);
  color: var(--orange);
  padding: 1rem 5%; 
  text-align: center;
}

.main-header-title {
  font-family: 'Mr Bedfort', sans-serif;
  font-size: 2rem;
  font-style: italic;
}

.main-header-phrase {
  font-family: 'MonteCarlo', sans-serif;
  font-size: 1.5rem;
  color: var(--light);
  margin-top: 1rem;
}

.btn {
  font-family: inherit;
  font-weight: bolder;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.5rem 1.5rem;
  background: var(--grey-dk);
  border: 1px solid var(--grey-dk);
  border-radius: 3px;
  color: var(--light);
  cursor: pointer;
  transition: all 0.5s ease-in;
} 

.btn-alt {
  background-color: transparent;
  border-color: transparent;
  color: var(--orange);
}

.btn:hover {
  background-color: var(--dark);
  border-color: var(--dark);
}

.btn-alt:hover {
  background-color: var(--grey-lg);
  border-color: var(--orange);
}